* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
  color: #202020;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  
}

.nav-links a {
  color: #f3eeee;
  text-decoration: none;
  font-weight: 700;
}

/* HERO SECTION */
.hero {
  text-align: center;
  background: url("images/Object.png") center/cover no-repeat;
  padding-bottom: 150px;
}

.hero-content h1 {
  font-size: 80px;
  font-weight: 700;
  margin-top: 120px;
}

.hero-subtitle span {
  margin: 0 10px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
}

.btn-register {
  margin-top: 40px;
  padding: 18px 55px;
  border-radius: 30px;
  border: none;
  background: #C271FF;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* LEARN FROM PROS */
.learn-from-pros h2 .purple {
  color: #C271FF;
}

.pros-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}

.pro-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.pro-item h3 {
  margin-top: 20px;
  font-weight: 700;
  color: white;
}

.pro-item p {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
  color:white;
}

/* -------------------------------
   CSS for the Quotes
-------------------------------- */
.testimonial {
  background: #C271FF;
  color: white;
  padding: 80px;
  display: flex;
  justify-content: center;
}

.testimonial__container {
  display: flex;
  gap: 40px;
  max-width: 1000px;
}

.testimonial__photo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.testimonial__content blockquote {
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial__name {
  font-weight: 700;
}

.testimonial__role {
  opacity: 0.8;
}
