/*styles.css */
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 190, 224);
    margin: 0;  
    font-family: "Segoe UI", Arial, sans-serif;
    color: #333;
    width: 100%;
    
}

main {
    
    display: flex;
    flex-direction: row;
    flex:auto;
}

article {
    background: #a6a6a8;
    flex:2;
    overflow-y: auto;
}

aside {
    
    flex:1;
    overflow-y: auto;
}

/* Header styling */
header {
    background: #004d80;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* ---------------------- NAVIGATION BAR --------------------- */

nav {
    background-color: #003a63;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #e8f6ff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.25s;
}

nav ul li a:hover {
    background-color: #005c99;
}


/* Styling content areas (article + aside) */
article, aside {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.12);
}

/* Article appearance */
article {
    background: #eeeeee;
    border-right: 3px solid #cccccc;
}

/* Sidebar appearance */
aside {
    background: #f8f2e7;
    border-left: 3px solid #e0cda9;
}

/* Footer styling */
footer {
    background: #00324d;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Link behavior */
a {
    color: #005599;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}