/* Flexbox CSS Rules */
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 190, 224);
    margin: 0;  
    
}

main {
    display: flex;
    flex-direction: row;
    flex:auto;
}

article {
    flex:2;
    overflow-y: auto;
}

aside {
    flex:1;
    overflow-y: auto;
}

